* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  width: 100%;
  height: 100vh;
  background-color: cyan;
}
h1 {
  color: #fff;
  font-size: 50px;
  padding: 20px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(76, 76, 230);
}
button {
  width: 50%;
  height: 100vh;
  color: #fff;
  font-size: 25px;
  border: none;
  outline: none;
  border: 1px solid blue;
  border-top: 0;
  border-bottom: 0;
  transition: 0.5s;
  background-color: transparent;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.233);
}
@media (width <= 500px) {
    h1 {
        top: 50%;
    }
    button {
        width: 100%;
        height: 50svh;
        border: 1px solid blue;
        border-left: none;
        border-right: none;
    }
}